@{
    ViewBag.Title = "[[[Contact]]]";

    string avatar_instructions = "w=150&h=150&mode=crop&scale=upscalecanvas&borderWidth=1&borderColor=gray";
    string avatar_style = "padding: 10px";
}
<h3>Команда</h3>

<div> @*class="col-md-offset-1 col-md-10">*@
    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2">
            <img src="~/Content/images/avatars/avatar-arthur.jpg?@avatar_instructions" style="@avatar_style" />
        </div>
        <div class="col-md-10" style="white-space: pre-wrap"><strong>Артур Аракелян, Сухуми</strong>
<strong>Лидер Манифеста</strong>
<a href="mailto:arthur@wikimanifesto.org.ua">arthur@wikimanifesto.org.ua</a>
"Я – автор идеи Манифеста. Много лет я задавал себе один вопрос - смогут ли люди найти возможность жить в мире без войн, в согласии и процветании? Насколько это реально? Что для этого должно произойти, и что лично я могу сделать для этого? Понимая, что каждый человек в своем сердце желает этого, я верил, что это возможно. Интернет оказался идеальной средой для объединения людей, а бурный рост социальных сетей подтвердил этот факт. Решение было найдено в проекте Манифест, первая версия которого появилась в 2011 году. Уже тогда существовали сайты, где были опубликованы различные петиции, и где при желании можно было обнародовать свою. Каждая такая петиция была направлена на решение конкретной проблемы. Главным отличием Манифеста стала возможность коллективной разработки одного документа, затрагивающего различные аспекты жизни общества и человека. Сегодня мы представляем обновленный сайт Манифеста.
Есть еще один вопрос, и, наверное, главный. Нужен ли нам сегодня такой инструмент и готовы ли мы его использовать? Каждый день, читая глубокие и содержательные посты в блогах и статьи на различных ресурсах, я убеждаюсь, что да! Мы созрели, мы готовы представить миру наше видение жизни завтра. Именно сегодня, когда события в Украине демонстрируют нам отсутствие возможности вступить в диалог и понять друг - друга, Манифест имеет полное право стать частью жизни для многих людей."
        </div>
    </div>


    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2">
            <img src="~/Content/images/avatars/avatar-yuri.jpg?@avatar_instructions" style="@avatar_style" />
        </div>
        <div class="col-md-10" style="white-space: pre-wrap"><strong>Юрий Волков, Москва</strong>
<strong>Лидер Манифеста</strong>
<a href="mailto:yuri@wikimanifesto.org.ua">yuri@wikimanifesto.org.ua</a>
"Я создал первую версию сайта Манифеста, отвечаю за программирование и дизайн. Мне принадлежит идея информационной модели совместного редактирования ограниченных по объему текстов, где на небольшом тексте сфокусировано внимание большого количества людей. Также я хочу создать модель "непрерывного перевода", где есть единый массив информации, и каждый новый кусочек может быть добавлен на любом языке и будет совместно переведен на остальные языки. У меня есть видение того, как Манифест может стать одним из институтов общества. Моя самая главная мечта - это чтобы люди были счастливы. А для этого нужно оглянуться вокруг, улыбнуться людям и миру, и увидеть свою жизнь как часть большего - или как часть жизни своей страны, или даже как часть бесконечного потока жизни. И в Манифесте я вижу инструмент, который позволит людям осознать свою важность, ощутить свою связь с другими людьми, почувствовать себя частью большой семьи. Мы все - авторы своего собственного счастья."
        </div>
    </div>


    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2">
            <img src="~/Content/images/avatars/avatar-newuser.png?@avatar_instructions" style="@avatar_style" />
        </div>
        <div class="col-md-10" style="white-space: pre-wrap"><strong>...</strong>
...
        </div>
    </div>


    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2">
            <img src="~/Content/images/avatars/avatar-newuser.png?@avatar_instructions" style="@avatar_style" />
        </div>
        <div class="col-md-10" style="white-space: pre-wrap"><strong>...</strong>
...
        </div>
    </div>


    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2">
            <img src="~/Content/images/avatars/avatar-newuser.png?@avatar_instructions" style="@avatar_style" />
        </div>
        <div class="col-md-10" style="white-space: pre-wrap"><strong>...</strong>
...
        </div>
    </div>


@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

</div>

<div class="clearfix"></div>